{%- assign date_format = site.date_format | default: "%F" -%}
<div class="post-header">
  {%- if post.image-header and post.image-alt -%}
    <img src="{{ post.image-header }}" alt="{{ post.image-alt }}" class="post-image-header">
  {%- endif -%}
  <h2><a class="post-link" href="{{ post.url | relative_url }}">
    {{ post.title | escape }}
  </a></h2>
  {%- if post.author -%}
    <p class="post-meta">Posted by {{ post.author }} on {{ post.date | date: date_format }}</p>
  {%- else -%}
    <p class="post-meta">Posted on {{ post.date | date: date_format }}</p>
  {%- endif -%}
</div>
{%- if site.show_excerpts -%}
  <div class="post-contents">
    {{ post.excerpt }}
  </div>
  <p><a class="post-jump" href="{{ post.url | relative_url }}">Continue reading...</a></p>
{%- endif -%}
