$bgcolor: #1a1a1a;
$fgcolor: #ffffff;
$inputcolor: #333333;
$linkcolor: #dfdfdf;
$hovercolor: #bfbfbf;
$decorationcolor: #808080;
$codecolor: #ffdfdf;
$highlightcolor: #ffa000;
$highlighthovercolor: #cf8000;
