@import '_globals';
@import '_reset';

@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Lato&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css');

a {
  color: $linkcolor;
  &:hover {
    color: $hovercolor;
  }
}

h1 {
  font-family: 'Orbitron', sans-serif;
}

h2 {
  font-family: 'Iceland', cursive;
}

body {
  background-color: $bgcolor;
  color: $fgcolor;
  font-family: 'Lato', sans-serif;
  display: grid;
  justify-content: center;
  column-gap: 20px;
  grid-template-columns: repeat(12, 60px);
  grid-template-rows: min-content 1fr;
}

.site-header-contents {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.site-header {
  grid-row: 1;
  grid-column: 1 / 13;
  margin-top: 2em;
  margin-bottom: 3em;
  //background-color: red;
  h1 {
    font-weight: 900;
    font-size: xxx-large;
    a {
      color: $fgcolor;
      text-decoration: none;
    }
  }
}

#search-container {
  overflow-x: visible;
}

.search-icon {
  color: $decorationcolor;
  position: absolute;
  font-size: 1em;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}

#search-input {
  padding-left: 2em;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  background-color: $inputcolor;
  color: $fgcolor;
  border: 1px solid $decorationcolor;
  border-radius: 2px;
  outline: 0;
}

#search-results {
  display: none;
  position: absolute;
  background-color: $inputcolor;
  padding: 0.5em;
  flex-direction: column;
  border-style: none dashed dashed dashed;
  border-color: $fgcolor;
  border-width: 1px;
  li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    a {
      text-decoration: none;
      &:hover {
        .highlight {
          color: $highlighthovercolor;
        }
      }
    }
  }
  .highlight {
    color: $highlightcolor;
    background-color: inherit;
    font-weight: bold;
  }
}

nav {
  grid-row: 2;
  grid-column: 1 / 5;
  display: flex;
  flex-direction: column;
  padding-right: 40px;

  img {
    object-fit: contain;
    width: 100%;
    margin-bottom: 1em;
  }

  h2 {
    font-weight: bold;
    font-size: xx-large;
  }

  #pages {
    ul {
      flex-direction: row;
      flex-wrap: wrap;
      li {
        flex-grow: 1;
      }
    }
  }

  #posts {
    ul {
      flex-direction: column;
    }
  }

  #archive {
    ul {
      flex-direction: row;
      flex-wrap: wrap;
      li {
        flex-grow: 1;
      }
    }
  }

  .panel {
    margin-bottom: 1em;
    ul {
      display: flex;
      list-style: none;
      li {
        margin: 0.5em;
        a {
          color: $fgcolor;
          text-decoration: none;
          &:hover {
            color: $linkcolor;
          }
        }
      }
    }
  }
  .post-link {
    display: flex;
    justify-content: space-between;
    .title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .date {
      font-weight: 100;
      font-style: italic;
      font-size: small;
      white-space: nowrap;
      margin-left: 1em;
    }
  }
}

main {
  grid-row: 2;
  grid-column: 5 / 13;
  margin-bottom: 4rem;
  h1 {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 1rem;
    a {
      color: $fgcolor;
      text-decoration: none;
      &:hover {
        color: $linkcolor;
      }
    }
  }

  h2 {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 1rem;
    a {
      color: $fgcolor;
      text-decoration: none;
      &:hover {
        color: $linkcolor;
      }
    }
  }

  h3 {
    font-size: large;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  h5 {
    display: inline-block;
    font-size: medium;
    font-weight: bold;
  }

  .posts-by-month {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    hr {
      width: 100%;
    }
  }

  .post-list {
    display: flex;
    flex-direction: column;
  }

  .post-list-heading {
    margin: 0;
  }

  .post-meta {
    color: $fg2color;
    font-weight: 100;
    padding-bottom:0.5em
  }

  .post-header {
    margin-bottom: 1rem;
    a {
      text-decoration: none;
    }
    display: flex;
    flex-direction: column;

    hr {
      width: 100%;
    }
  }

  .post-summary {
    margin-bottom: 6rem;
  }

  .post-stub {
    margin-bottom: 1em;

    h2 {
      margin: 0;
    }
  }

  .post-contents {
    line-height: 1.5rem;
    p {
      margin-bottom: 1em;
    }
    em {
      font-style: italic;
    }
    strong {
      font-weight: bold;
    }
    ul {
      list-style-type: "\25c6";
      list-style-position: outside;
      margin-left: 2em;
      margin-top: 1em;
      margin-bottom: 1em;
      li {
        padding-left: 1em;
      }
    }

    ol {
      list-style-type: decimal;
      list-style-position: outside;
      margin-left: 2em;
      margin-top: 1em;
      margin-bottom: 1em;

      ol {
        list-style-type: lower-alpha;
        margin-top: 0;
        margin-bottom: 0;
      }
      li {
        padding-left: 0.5em;
      }
    }
    pre {
      font-family: 'Fira Code', monospace;
      font-size: small;
      line-height: 1.1em;
      tab-size: 2;
      -moz-tab-size:2;
      -o-tab-size:2;
    }

    code {
      font-family: 'Fira Code', monospace;
      color: $codecolor;
      font-size: 90%;
    }

    div.highlight, div.highlight .w {
      border-style: dashed;
      border-color: #ffffff;
      border-width: 1px;
      margin-bottom: 1em;
      margin-top: 1em;
    }
  }

  img {
    object-fit: cover;
    object-position: 50% 50%;
  }
  .post-image-header {
    margin-bottom: 1rem;
    flex: 0 1
  }

  .post-jump {
    font-weight: 100;
    font-style: italic;
  }

  .post-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: first baseline;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: $fg2color;

    .post-tags-label {
      font-weight: bold;
      margin-right: 0.5em;
    }

    .post-tag {
      margin-left: 0.5em;
      margin-right: 0.5em;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 0.25em;
      padding-right: 0.25em;
      border-style: solid;
      border-width: 1px;
      border-radius: 6px;
    }
  }
}

.blurb {
  font-style: italic;
  font-weight: 100;
  //font-size: small;
  margin-bottom: 1em;
}
