---
layout: default
---

<div class="archive">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    {% assign posts_by_date = site.posts | group_by_exp:"post", "post.date | date: '%Y %m'"  %}
    <div class="posts-by-month">
    {% for date in posts_by_date %}
      {% assign date_str = date.items.first.date | date: "%b %Y" %}
      <h2 class="post-list-heading">{{ date_str }}</h2>
      <hr>
      <ul class="post-list">
        {%- for post in date.items -%}
        <li class="post-stub">
          {% include post_stub.html %}
        </li>
        {%- endfor -%}
      </ul>
    {% endfor %}
    </div>
  {%- endif -%}

</div>
