---
layout: default
---

<article class="post">
  {%- assign date_format = site.date_format | default: "%F %T%z" -%}
  <header class="post-header">
    {%- if page.image-header and page.image-alt -%}
      <img src="{{ page.image-header }}" alt="{{ page.image-alt }}" class="post-image-header">
    {%- endif -%}
    <h1>{{ page.title | escape }}</h1>
    {%- if page.author -%}
      <p class="post-meta">Posted by {{ page.author }} at {{ page.date | date: date_format }}</p>
    {%- elsif page.date -%}
      <p class="post-meta">Posted at {{ page.date | date: date_format }}</p>
    {%- endif -%}
    {%- if page.tags -%}
    <div class="post-tags">
      <span class="post-tags-label">Tags:</span>
      {%- for tag in page.tags -%}
        <span class=post-tag>{{ tag }}</span>
      {%- endfor -%}
    </div>
    {%- endif -%}
    <hr>
  </header>
  <div class="post-contents">
    {{ page.content }}
  </div>
</article>
